<div class="{% if section.settings.include_margins %}page-width{% endif %}">
  {%- for block in section.blocks -%}
    {% render block %}
  {%- endfor -%}
</div>

{{ 'slick.css' | asset_url | stylesheet_tag }}
{{ 'slick-theme.css' | asset_url | stylesheet_tag }}
<script src="{{ 'jquery.min.js' | asset_url }}" defer></script>
<script src="{{ 'slick.min.js' | asset_url }}" defer></script>
<script>
  console.log('product init');
</script>

{% schema %}
{
  "name": "Slider Products",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.apps.settings.include_margins.label"
    }
  ],
  "blocks": [
    {
      "type": "product_list",
      "name": "Product List",
      "limit": 20,
      "settings": [
        {
          "type": "collection",
          "id": "collection_id",
          "label": "Select a collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider Products"
    }
  ]
}
{% endschema %}
