.slick-slider .slick-arrow {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  font-size: 0;
  line-height: 50px;
  overflow: hidden;
  background-color: lightblue;
  color: #121212;
  z-index: 1;
  border: none;
  outline: none;
  border-radius: 100%;
  cursor: pointer;
}

.slick-slider .slick-arrow:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  line-height: inherit;
  color: currentColor;
  font-weight: bold;
}
.slick-slider .slick-prev {
  left: -25px;
}
.slick-slider .slick-prev::before {
  content: "<";
}
.slick-slider .slick-next {
  right: -25px;
}
.slick-slider .slick-next::before {
  content: ">";
}

.slider-product__container {
  padding: 25px 50px;
}
.slider-product__content {
}
.slider-product__title {
  display: block;
  width: 100%;
  font-size: 52px;
  text-align: center;
}
.slider-product__subtitle {
  display: block;
  width: 100%;
  font-size: 24px;
  text-align: center;
}
.products_slider {
  margin-top: 30px;
}
.products_list {
}
.product_image {
  overflow: hidden;
}

.product_link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #121212;
}
.product_slide {
  overflow: hidden;
}
.product_title {
}
.product_content {
}
.product_price {
}
